<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->

<suite name="DemoBlaze Parallel Test Suite" parallel="tests"
	thread-count="2">
	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>

	<!-- Run Tests on Chrome -->
	<!-- In TestNG way -->
	<test name="Signup Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="MyRunner.signUpRunner" />
		</classes>
	</test>

	<!-- In Junit way -->
	<test name="Signup Test by Junit">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="MyRunner.signUpJunit" />
		</classes>
	</test>

	<test name="Login Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.LoginTest" />
		</classes>
	</test>

	<test name="Contact Form Test on Chrome">
		<parameter name="browser" value="chrome" />
		<parameter name="contactEmail" value="testuser@example.com" />
		<parameter name="contactName" value="Test User" />
		<parameter name="contactMessage"
			value="This is a test message for the contact form." />
		<classes>
			<class name="TestCases.ContactTest" />
		</classes>
	</test>

	<test name="About Us Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.AboutUsTest" />
		</classes>
	</test>

	<test name="Category Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.CategoryTest" />
		</classes>
	</test>

	<test name="Cart Test on Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="TestCases.CartTest" />
		</classes>
	</test>

	<!-- Run Tests on Firefox -->
	<test name="Signup Test on Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="MyRunner.signUpRunner" />
		</classes>
	</test>

	<test name="Login Test on Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="TestCases.LoginTest" />
		</classes>
	</test>

	<test name="Contact Form Test on Firefox">
		<parameter name="browser" value="firefox" />
		<parameter name="contactEmail" value="testuser@example.com" />
		<parameter name="contactName" value="Test User" />
		<parameter name="contactMessage"
			value="This is a test message for the contact form." />
		<classes>
			<class name="TestCases.ContactTest" />
		</classes>
	</test>

	<test name="About Us Test on Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="TestCases.AboutUsTest" />
		</classes>
	</test>

	<test name="Category Test on Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="TestCases.CategoryTest" />
		</classes>
	</test>

	<test name="Cart Test on Firefox">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="TestCases.CartTest" />
		</classes>
	</test>

</suite>
